*{
    padding: 0;
    margin:0;
    font-family: Fugaz One,sans-serif;
}
body{
    background-color: rgb(222, 239, 239);
}

header{
    
    background-color: rgb(190, 203, 208);
       display: flex;
       padding: 10px;
    font-size: 4em;
    font-weight: 900;
    justify-content: space-between;
     box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.02);
-webkit-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.02);
-moz-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.02);
}

main{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    gap: 1em;
}
.cellsContainer{
    display: flex;
    flex-direction: column;
}
.row1,.row2,.row3{
    display: flex;
    
}
.cell{
    height: 100px;
    width: 100px;
    font-size: 2em;
    text-align: center;
    border: 2px solid black;
}
.cell:hover{
    background-color: rgb(195, 211, 211);
}
.restartBtn{
     cursor: pointer;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border: solid rgb(204, 204, 173) 0.1px ;
    color: rgb(76, 76, 76);
    background-color: rgb(190, 203, 208);
 box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.08);
-webkit-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.08);
}
.restartBtn:active{
    transform: translateY(3px); 
  box-shadow:1px 10px 10px 0px rgba(0,0,0,0.08); 
  background-color: rgb(147, 158, 162); 
}

footer{
    background-color: rgb(190, 203, 208);
      position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 2em;
     padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}